<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/styles/oooo.css}" type="text/css" />
    <link rel="icon" th:href="@{/styles/favicon.ico}"  type="images/x-icon">
    <title>Добро пожаловать</title>
</head>

<body>

<div>
<h1 class="h1successfully">Профиль успешно создан</h1>
</div>

<div>
    <a class="reflog" th:href="@{/login}">Войти на сайт</a>
</div>



</body>

</html>