<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head >
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/styles/pagehuman.css}" type="text/css" />
    <link rel="icon" th:href="@{/styles/favicon.ico}"  type="images/x-icon">
    <title th:object="${certain}">Анкета пользователя</title>
</head>

<body>


<section class="hhhh">


    <div class="buttonprofile">

        <h1 class="yagodka">YAGONKAA.RU</h1>

        <img th:src="@{/styles/imageone.png}" alt="Корзина ягод" height="90%">
        <img th:src="@{/styles/imagetwo.png}" alt="Корзина ягод" height="90%">
        <img th:src="@{/styles/imagethree.png}" alt="Корзина ягод" height="90%">
        <img th:src="@{/styles/imagefour.png}" alt="Корзина ягод" height="90%">

        <ul class="ulnavmain">
            <li><a  th:href="@{/logout}">Выйти</a></li>
            <li><a th:href="@{/chats}">Сообщения</a></li>
            <li><a th:href="@{/myprofile}">Мой профиль</a></li>

        </ul>

    </div>


</section>

<div class="ulnav">
    <ul class="ulnav">

        <li><a th:href="@{/}">Все анкеты</a></li>
        <li><a th:href="@{/liked}">Понравившиеся</a></li>
        <li><a th:href="@{/main/mans}">Анкеты: мужчины</a></li>
        <li><a th:href="@{/main/womans}">Анкеты: женщины</a></li>
        <li><a th:href="@{/main/other}">Анкеты: другое</a></li>
        <li><a th:href="@{/site}">О сайте</a></li>

    </ul>
</div>



<section class="certaininfo" >
    <h1>Анкета пользователя</h1>

    
    <div>
        <img class="pagehuman" th:src="@{/images/{id}(id = ${certain.image.id})}" width="500" alt="Фото пользователя">
    </div>

    <div class="addliked">
        <form method="post" th:action="@{/id{id}(id = ${certain.id})}" th:object="${certain}">
            <div>
                <input type="hidden" th:field="*{id}" />
            </div>
            <div>
                <input type="hidden" th:field="*{nickname}" />
            </div>
            <div>
                <input type="hidden" th:field="*{age}" />
            </div>
            <div>
                <input type="hidden" th:field="*{info}" />
            </div>

            <div class="buttonsss">
                <button class="addliked" type="submit">Добавить в понравившиеся</button>

                <a class="refsend" th:href="@{/sendtoid{id}(id = ${certain.id})}" th:object="${certain}">Написать</a>
            </div>


        </form>
    </div>


    <div class="question">
    <a class="question">Имя:</a><a class="certaininfo" th:text="${certain.nickname}" th:object="${certain}"></a>
    </div>
    <br>

    <div class="question">
    <a class="question">Пол:</a> <a class="certaininfo" th:text="${certain.gender}" th:object="${certain}"></a>
    </div>
    <br>

    <div class="question">
    <a class="question">Возраст:</a> <a class="certaininfo" th:text="${certain.age}" th:object="${certain}"></a>
    </div>
    <br>

    <div class="osebe">
    <a class="question">О себе:</a> <a class="certaininfo" th:text="${certain.info}" th:object="${certain}"></a>
    </div>

</section>

</body>

</html>