<!doctype html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" th:href="@{/styles/sendpage.css}" type="text/css" />
    <link rel="icon" th:href="@{/styles/favicon.ico}"  type="images/x-icon">
    <title>Отправить сообщение</title>
</head>

<body>

<section class="hhhh">


    <div class="buttonprofile">

        <h1 class="yagodka">YAGONKAA.RU</h1>

        <img th:src="@{/styles/imageone.png}" alt="Корзина ягод" height="90%">
        <img th:src="@{/styles/imagetwo.png}" alt="Корзина ягод" height="90%">
        <img th:src="@{/styles/imagethree.png}" alt="Корзина ягод" height="90%">
        <img th:src="@{/styles/imagefour.png}" alt="Корзина ягод" height="90%">

        <ul class="ulnavmain">
            <li><a  th:href="@{/logout}">Выйти</a></li>
            <li><a th:href="@{/chats}">Сообщения</a></li>
            <li><a th:href="@{/myprofile}">Мой профиль</a></li>

        </ul>

    </div>


</section>

<div class="ulnav">
    <ul class="ulnav">

        <li><a th:href="@{/}">Все анкеты</a></li>
        <li><a th:href="@{/liked}">Понравившиеся</a></li>
        <li><a th:href="@{/main/mans}">Анкеты: мужчины</a></li>
        <li><a th:href="@{/main/womans}">Анкеты: женщины</a></li>
        <li><a th:href="@{/main/other}">Анкеты: другое</a></li>
        <li><a th:href="@{/site}">О сайте</a></li>

    </ul>
</div>




<section class="newchat">

    <h1 class="h1newmessage">Создание нового чата</h1>

<form method="post" th:action="@{/sendtoid{id}(id = ${superid})}" class="forminput1" th:object="${currentmessage}">
    <div>
        <input type="hidden" th:field="*{id}" />
    </div>
    <div>
                <textarea cols="65" rows="3" th:field="*{messagetext}" class="textarea1" name="messagetext" placeholder="Новое сообщение" id="messagetext">

            </textarea>
    </div>
    <div>
        <input type="hidden" th:field="*{who}"/>
    </div>

    <div>
        <input type="submit" value="Отправить сообщение" />
    </div>
</form>

</section>


</body>

</html>